<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <form class="form" action="/" method="get">
    <h2>Submmited information</h2>
    <h6>Name: <%= campos.inputname %></h6>
    <h6>Location: <%= campos.location %></h6>
    <h6>Favorite Language: <%= campos.FavoriteLanguaje %></h6>
    <h6>Comment: <%= campos.Comment %></h6>
    <button>Back</button>
    </form>
    
</body>
</html>